body {
  background-color: #FFFFFF;
  font-family: 'lato', sans-serif;
  margin: 0;
  padding: 0px;
}

#navigation {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    text-align: right;
    background-color: #E8ECEF;
    margin: 0;
    padding: 0;
    border-bottom: 1px;
    border-bottom-style:inset;
    border-bottom: #E8ECEF;
    opacity: 0.90;
    font-size: 15px;
}

#navigation li {
    display: inline-block;
    padding: 20px 35px 35px 0;
}

#navigation a {
    text-decoration: none;
    position: relative;
    color: #000;
    text-decoration: none;
}

#navigation a:hover {
  color: #000;
} 

#navigation a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#navigation a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*Navigation for non-home pages*/

#othernav {
    position: fixed;
    top: 0;
    text-align: right;
    float: right;
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-size: 15px;
}


#othernav li {
    display: inline-block;
    padding: 20px 35px 35px 0;
}

#othernav a {
    text-decoration: none;
    position: relative;
    color: #000;
    width: 100%;
}

#othernav a:hover {
  color: #000;
} 

#othernav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#othernav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


header {
    background-image: url("../images/creative.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
    margin: 50px 0 0 0;
    position: relative;
    color:white;
}

h2 {
    padding-bottom: 18px;
    margin-bottom: 30px;
    border-bottom: 1px solid #000000;
    width: 225px;
}

.boxed {
    border: 1.5px solid white;
    top: 160px;
    position: relative;
    margin: 0 auto;
    padding: 27px 40px 27px 40px;
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    color: white;
    text-align: center;
    width: 225px;
}

p#title {
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    padding: 0px;
    color:white;
}

.img-circle {
    border-radius: 50%;
    height: 350px;
    width: 350px;
}

.moi {
    background-color: white;
    position: absolute;
    margin: 50px 0 50px 0;
}

p#description {
    border: none;
    font-size: 16px;
    color: black;
    text-align: justify;
    padding: 0 15%;
}

#portfolio {
    background-image: url("../images/water.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
    margin: 50px 0 0 0;
    position: relative;
    padding: 30px 0 30px 0;
}

.button {
  margin: 0 auto;
  width: 250px;
}

.btn {
  display: block;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 15px;
  letter-spacing: 1px;
  font-size: 14px;
  white-space: normal;  
}

.btn-stroke-black {
  background-color: black;
  color: #FFFFFF !important;
  border: 2px solid #FFFFFF;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}
.btn-stroke-black:hover {
  background-color: #FFFFFF;
  color: black !important;  
  border: 2px solid #000000;
}

/*Images for portfolio */
  .portfoliocontainer{
    display: inline-block;
    width: 100%;
  }

  .photos {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    width: 80%;
    position: relative;
  }

.photos li {
    width: 30%;
    cursor: pointer;
    position: relative;
    margin: 0 1%;
    padding: 0;
    display: inline-block;
  }

  .photos li:hover .fade{
    opacity: 1;
  }

  .photos img{
    width: 100%;
  }

  .photos .fade{
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

  .fade:hover {
      opacity: 0.65;
    }
  
  
#contact {
    padding-bottom: 100px;
    margin: 50px 0 50px 0;
}

center.container {
  padding: 30px 15px;
}

center.container2{
  padding-bottom: 30px;
}

center.container3{
  padding-bottom: 50px;
}

.lastline{
  padding-top: 25px;
  font-size: 14px;
}


/*
--------------------------------------
----------- Company Pages  -----------
--------------------------------------
*/

.company-logo{
    display: block;
    padding-top: 150px;
  }

.company-logo img {
    max-width: 100%;
}

.company-head{
    display: auto;
}

#compix {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
}

iframe {
  margin-top: 20px;
  margin-bottom: 20px;
}


/*
--------------------------------------
----------- Media Queries! -----------
--------------------------------------
*/
@-ms-viewport{
  width: device-width;
}

@media (max-width: 400px) {
  p#description {
    padding: 0 0;
  }

  #navigation li {
    display: inline-block;
    padding: 5% 2.5% 2.5% 0;
  }

  #othernav li {
    display: inline-block;
    padding: 5% 2.5% 2.5% 0;
  }

.portfoliocontainer {
    display: inline-block;
    width: 100%;
}

.photos {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    width: 50%;
    position: relative;
}

.photos li {
    width: 100%;
    margin: 0;
    padding: 0;
}

  .company-logo {
    max-width: 100%;
    margin: 0 5% 0 5%;
}

}

@media (min-width: 401px) and (max-width: 760px) {
  .photos li {
    width: 50%;
  }
}
