body {
  background-color: #FFFFFF; /*#E8FFEE*/
  font-family: 'lato', sans-serif;
  margin: 0;
  padding: 0px;
}

#navigation {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    text-align: right;
    background-color: #E8ECEF;
    margin: 0;
    padding: 0;
    border-bottom: 1px;
    border-bottom-style:inset;
    border-bottom: #E8ECEF;
    opacity: 0.90;
}

#navigation li {
    display: inline-block;
    padding: 20px 20px 35px 0;
}


header {
    background-image: url("../images/creative.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
    margin: 50px 0 0 0;
    position: relative;
    color:white;
}

header h1 {
    position: absolute;
    left: 40%;
}

h2 {
    padding-bottom: 20px;
    border-bottom: 1px solid #000000;
    width: 15%;
}

.boxed {
    border: 1.5px solid white;
    top: 160px;
    left: 580px;
    position: absolute;
    margin: 0;
    padding: 27px 40px 27px 40px;
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    color: white;
    text-align: center;
    display: inline;
}

p#title {
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    padding: 0px;
    color:white;
}

a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    padding-left: 15px;
}

.img-circle {
    border-radius: 50%;
    height: 350px;
    width: 350px;
}

.moi {
    background-color: white;
    position: absolute;
    margin: 0;
    display: inline;
}

p#about {
    border: none;
    padding: 0px 300px 20px 300px;
    font-size: 16px;
    color: black;
    text-align: justify;
}


#portfolio {
    background-image: url("../images/water.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
    margin: 50px 0 0 0;
    position: relative;
    padding: 30px 0 30px 0;
    color:#000000;
}

footer {
    background-color: light grey;
}
